/* --------GENERAL STYLES -------- */
* {
  margin: 0;
  padding: 0;
  scroll-padding-top: 4rem;
}

:root {
  --bg-color: #0f172a;
  --font-color: #fff;
  --secondary-bg-color: #212b35;
  --font: "Poppins"; /* Cambio de Fuente*/
  --font-size: 14px; /* Ajuste de tamaño */
}

body {
  background-color: var(--bg-color);
  font-family: var(--font);
  color: var(--font-color);
  font-size: var(--font-size); /* Aplica el tamaño de fuente */
  height: 100vh;
  max-width: 100vw;
}

/* Para el tema claro */
body.light-theme {
  --bg-color: #fef6e4; /* Fondo blanco para tema claro */
  --font-color: #172c66; /* Texto negro para tema claro */
  --secondary-bg-color: #8bd3dd; /* Color secundario para tema claro */
}

/* Estilos de las tarjetas */
.card {
  background-color: #111111; /* Fondo oscuro por defecto */
  transition: all 0.2s ease-in;
}

/* Estilos de las tarjetas en tema claro */
body.light-theme .card {
  background-color: #8bd3dd; /* Fondo pastel para tema claro */
  color: #fef6e4; /* Texto negro para tema claro */
}

body.light-theme .project__card {
  background-color: #8bd3dd; /* Fondo en tema claro */
  color: #fef6e4; /* Texto claro */
}

body.light-theme .project__info p {
  color: #fef6e4; /* Texto claro */
}

body.light-theme .review-button {
  background-color: var(--secondary-bg-color);
  color: #fef6e4;
}

/* Botón de revisión estilo neón tema claro */
body.light-theme .review-button {
  background-color: #6acdcd;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s;
  text-decoration: none;
}

body.light-theme .review-button:hover {
  background-color: #00bfff;
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Sombra neón tema claro */
}

body.light-theme .project__card:hover {
  transform: translateY(-10px);
  border-color: #6acdcd; /* Borde en hover con color del tema claro */
  box-shadow: 0 0 25px rgba(0, 191, 255, 0.8); /* Efecto neón tema claro*/
}
/* footer letras redes contactos mis servisios tema claro */

body.light-theme .contact a {
  color: #172c66;
}

/* Estilos para el tema claro */
body.light-theme :is(.social__media, .contact, .my__services) p {
  color: #172c66;
}

body.light-theme :is(.fa-phone, .fa-envelope, .fa-message) {
  color: #172c66 !important;
}

body.light-theme .social__mediaIcons i {
  color: #172c66 !important;
}

body.light-theme .social__mediaIcons :hover {
  color: #8bd3dd !important;
}

body.light-theme .home__buttons button {
  border: 1px solid #172c66;
}

/* navbar hamburguesa tema claro */
body.light-theme .navbar .hamburger__lines .line {
  background: #172c66;
}

body.light-theme .right__content img:hover {
  transform: rotate(1deg) scale(1.02); /* Rotación suave y leve aumento tema claro */
  box-shadow: 0 40px 80px rgba(23, 44, 102, 0.7); /* Sombra expandida y muy intensa tema claro*/
}

body.light-theme .logo span {
  background: linear-gradient(220deg, #172c66 10%, #2466c2 50%, #0a46b6 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  line-height: normal;
}

/* Estilo para el texto en la sección freelancer */
.freelancer {
  color: var(--font-color); /* Color de fuente según el tema */
}

.light-theme .freelancer {
  color: #ffffff; /* Color blanco en el tema claro */
}

.container {
  padding: 0rem 12rem;
}
/* fin el tema claro */

/* vista movil */
@media screen and (max-width: 992px) {
  .container {
    padding: 0 2rem;
  }
}

/* ------ CHANGE SCROLL BAR -------*/
body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(165, 162, 162);
}
body::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:active {
  background-color: var(--secondary-bg-color);
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(104, 103, 103, 0.3);
}

/* ------- HEADER -------- */
.navbar {
  padding: 0 12rem;
  background-color: var(--bg-color);
  position: relative;
  height: 80px;
}

.logo img {
  width: 120px;
  height: auto;
  margin-top: 1rem;
}

.header__info ul li {
  padding: 2rem 1.2rem 1rem 1.2rem;
  cursor: pointer;
}

.hireMe__button a {
  background-color: var(--secondary-bg-color);
  color: var(--font-color);
  font-family: var(--font);
  font-size: var(
    --font-size
  ); /* Uso de la variable tambien se puede usar otra fuente */
  padding: 1rem 1.5rem;
  border-color: unset;
  border-width: 0;
}

.header__info ul li:hover {
  background-color: var(--secondary-bg-color);
  border-radius: 15px;
}

/**Responsive desinio navbar**/
@media screen and (max-width: 1200px) {
  .navbar {
    padding: 0 2rem;
  }

  .navbar .checkbox {
    position: absolute;
    display: block;
    height: 26px;
    width: 32px;
    top: 2rem;
    right: 5rem;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }

  .navbar .hamburger__lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar .hamburger__lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
  }

  .navbar .hamburger__lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .hamburger__lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar .hamburger__lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .header__info {
    padding-top: 60px; /* Reducimos o aumentamos el padding superior */
    height: 100vh;
    background: var(--secondary-bg-color);
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: auto;
    transform: translate(150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
  }

  .header__info ul {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Reducimos o aumentamos el espacio entre elementos */
    text-align: center;
    margin-top: 1rem; /* Reducimos o aumentamos el margen superior */
  }

  .header__info ul li {
    padding: 0.5rem 0;
    cursor: pointer;
    font-size: x-large;
    text-align: center;
    font-family: monospace; /* Aseguramos que use la misma fuente */
  }

  .header__info ul li a {
    display: block;
    width: 100%;
    text-align: center;
    font-family: monospace; /* Aseguramos que use la misma fuente */
    padding: 1rem 0;
  }

  .header__info ul li:hover {
    background-color: unset;
  }

  .navbar input[type="checkbox"]:checked ~ .header__info {
    transform: translateX(0);
  }

  .navbar input[type="checkbox"]:checked ~ .hamburger__lines .line1 {
    transform: rotate(45deg);
  }

  .navbar input[type="checkbox"]:checked ~ .hamburger__lines .line2 {
    transform: scaleY(0);
  }

  .navbar input[type="checkbox"]:checked ~ .hamburger__lines .line3 {
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar {
    padding: 0 12rem;
  }
  .navbar .checkbox,
  .navbar .hamburger__lines {
    right: 12rem;
  }
}

/* Ajustar la posición del botón de tema */
.div.hamburger_lines {
  margin-right: 0; /* Eliminamos el margen si existía opcional valor 0*/
}

/* ------- HOME -------- */

.right__content img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.right__content img:hover {
  transform: rotate(1deg) scale(1.02); /* Rotación suave y leve aumento */
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.7); /* Sombra expandida y muy intensa */
}

.home__page {
  height: 90vh;
  width: 100%;
  position: relative;
}

.message__bubble {
  display: inline-block;
  position: relative;
  width: 180px;
  height: auto;
  border-radius: 8px;
  background-color: var(--secondary-bg-color);
}
.triangle:after {
  content: "";
  position: absolute;
  left: 40%;
  border: 15px solid;
  border-color: var(--secondary-bg-color) transparent transparent transparent;
}

.message__text {
  padding: 1rem;
}
.home__buttons button {
  padding: 1rem 2rem;
  color: var(--font-color);
  font-size: var(--font-size);
}

.home__buttons a {
  background-color: var(--secondary-bg-color);
  font-size: var(--font-size);
  color: #fff;
  padding: 1rem 1.5rem;
}

.home__buttons button {
  padding: 1rem 1rem;
  color: var(--font-color);
  font-size: var(--font-size);
  background-color: transparent; /* Línea si corresponde transparencia */
  border: 1px solid #fff;
  border-width: thin;
  font-family: var(--font);
}

@media screen and (max-width: 576px) {
  .message__bubble {
    width: 160px;
  }
  .home__buttons a {
    padding: 1rem 1rem !important;
  }
}
@media screen and (max-width: 1200px) {
  .home__page {
    padding-top: 10rem;
  }
}

/* ------- ABOUT ME -------- */

.about__me .image img {
  height: 100%;
  width: 100%;
  filter: grayscale(1);
  object-fit: cover;
}

.progress__bar {
  width: 100%;
  height: 0.4rem;
  position: relative;
  background-color: #707070; /* Color de fondo de la barra */
}

.progress__bar span {
  height: 100%;
  position: absolute;
  width: 0; /* Inicialmente, el ancho es 0 */
  transition: width 3s ease; /* Suavizar la transición al aumentar el ancho */
}

.progress__wordpress span {
  background-color: #0a46b6; /* Color de Proyecto Académicos */
}

.progress__html span {
  background-color: #2466c2; /* Color de WordPress */
}

.progress__angular span {
  background-color: #3c85cd; /* Color SQL */
}

.progress__reactJs span {
  background-color: #5ba3da; /* Color de Desarrollo web */
}

.progress__point {
  width: 10px; /* Tamaño del cuadrado */
  height: 10px; /* Tamaño del cuadrado */
  background-color: inherit; /* Mantiene el color de la barra cargada */
  position: absolute; /* Para posicionarlo dentro del span */
  top: 50%; /* Centra verticalmente el cuadrado */
  left: 0; /* Comienza desde el lado izquierdo del span */
  transform: translate(
    -50%,
    -50%
  ); /* Ajusta el cuadrado para que esté centrado */
  transition: left 3s ease; /* Suaviza la transición al mover el cuadrado */
}

/* Cambia el color del cuadrado al mismo que el fondo de la barra */
.progress__wordpress .progress__point {
  background-color: #0a46b6; /* Color de Proyecto Académicos */
}

.progress__html .progress__point {
  background-color: #2466c2; /* Color de WordPress */
}

.progress__angular .progress__point {
  background-color: #3c85cd; /* Color SQL */
}

.progress__reactJs .progress__point {
  background-color: #5ba3da; /* Color de Desarrollo web */
}

/* Ajusta la posición del cuadrado al cargar */
.progress__bar.active .progress__point {
  left: calc(
    var(--target-width, 0)
  ); /* Mueve el cuadrado al ancho de la barra */
}

/* ------- FREE LANCER -------- */

.freelancer {
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(./assets/Screenshot_8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Ajuste para dispositivos móviles */
@media (max-width: 768px) {
  .freelancer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), /* Gradiente más claro */
      url(./assets/Screenshot_8.png);
  }
}

.freelancer p {
  font-size: 1.3rem !important; /* Ajusta el tamaño según preferencia */
}

.freelancer .hireMe__button {
  margin-top: 1.5rem; /* Agrega espacio extra entre el botón y el h3 */
}

/* ------- SERVICES -------- */
.services {
  padding-top: 81px;
}
.card {
  background-color: #111111;
  transition: all 0.2s ease-in;
}
.service__logo {
  height: 60px;
  width: 60px;
  background-color: #000;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.service__logo i {
  font-size: x-large;
  transition: all 0.2s ease-in;
}

.card:hover {
  background-color: var(--secondary-bg-color);
}
.card:hover .service__logo {
  background-color: #fff;
}
.card:hover .service__logo i {
  color: #000;
}

.service-description {
  text-align: justify;
  text-justify: inter-word;
  font-size: 1rem; /* Tamaño base más grande */
  line-height: 1.8;
}

@media (max-width: 768px) {
  .service-description {
    font-size: 0.95rem;
    line-height: 1.5;
    padding: 0.75rem 1rem;
    border: 2px solid rgba(0, 123, 255, 0.2);
    border-radius: 8px;
    margin: -0.25rem;
  }
}

@media (max-width: 480px) {
  .service-description {
    font-size: 0.85rem;
    line-height: 1.4;
    padding: 1rem;
    border: 2px solid rgba(0, 123, 255, 0.2); /* Cambiado a #007bff con transparencia */
    border-radius: 8px;
    margin: -0.5rem;
  }
}

/* ------- PORTFOLIO -------- */

/* Efecto shake-vertical al pasar el cursor */
.shake-vertical {
  transition: transform 0.2s; /* Suavizar el efecto */
}

.shake-vertical:hover {
  animation: shake-vertical 0.8s linear;
}

/* Efecto shake-vertical */
@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(-8px);
  }
}

.gallery__categories ul li {
  font-size: 1.5rem;
  cursor: pointer;
}

.gallery__categories .filter-item.active {
  border-bottom: 1px solid var(--secondary-bg-color);
}

/* Tarjetas de Proyectos */
.service-description {
  text-align: justify;
  text-justify: inter-word;
  font-size: 1rem; /* Tamaño base para móviles */
}

@media (max-width: 768px) {
  .portfolio__description {
    font-size: 0.95rem !important;
    line-height: 1.5;
    padding: 0.75rem 1rem;
    border: 2px solid rgba(0, 123, 255, 0.2);
    border-radius: 8px;
    margin: -0.25rem;
  }
}

@media (max-width: 480px) {
  .portfolio__description {
    font-size: 0.85rem !important;
    line-height: 1.2;
    padding: 1rem;
    border: 2px solid rgba(0, 123, 255, 0.2); /* Cambiado a #007bff con transparencia */
    border-radius: 8px;
    margin: -0.5rem;
    text-align: justify;
    text-justify: inter-word;
  }
}

.project__card {
  width: 300px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 4px solid transparent;
  border-radius: 15px;
  background-color: #1a1a1a;
  padding: 10px;
  color: #fff;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, border-color 0.3s;
}

.project__card:hover {
  transform: translateY(-10px);
  border-color: #007bff;
  box-shadow: 0 0 25px rgba(0, 123, 255, 0.8);
}

.project__card img {
  width: 90%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.project__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project__info h2 {
  font-size: 1.1rem;
  margin: 10px 0;
}

.project__info p {
  font-size: 0.8rem;
  color: #bbb;
  text-align: center;
  margin: 10px 0;
}

/* Estilos para el botón */
.review-button {
  background-color: #0056b3;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s;
  text-decoration: none;
}

.review-button:hover {
  background-color: #00bfff; /* Azul claro neón */
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Sombra neón */
}

.review-button:focus {
  outline: 2px solid #0056b3; /* Contorno visible */
  outline-offset: 2px; /* Espacio entre el contorno y el botón */
}

/* Estilos del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}

.modal-content {
  max-width: 90%;
  max-height: 80%;
  transition: transform 0.5s ease-in-out;
}

.rotate-scale-down {
  animation: rotateScaleDown 0.5s ease-in-out;
}

@keyframes rotateScaleDown {
  0% {
    transform: scale(0.8) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

/* Ajustes responsivos de los cards*/
@media (max-width: 768px) {
  .project__card {
    width: 100%;
    height: auto;
  }

  @media (max-width: 480px) {
    .project__card {
      width: 100%;
      height: 400px;
      padding: 10px; /* Aumentamos el padding para evitar que se vean muy apretados */
    }
  }

  .project__info p {
    font-size: 0.8rem;
  }

  .review-button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}

/* Estilos para mostrar y ocultar elementos */
.hide {
  display: none; /* Oculta los elementos */
}

.show {
  display: flex; /* Muestra los elementos con flexbox */
}
.filter-item:hover {
  animation: shake-horizontal 0.8s linear both;
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}

/* ------- FOOTER -------- */
footer {
  border-top: 2px solid #fff;
}

:is(.social__media, .contact, .my__services) h3 {
  margin-bottom: 1rem;
}

:is(.social__media, .contact, .my__services) p,
:is(.fa-phone, .fa-envelope, .fa-message, .fa-brands) {
  color: #a3a3a3;
}

.social__mediaIcons .fa-brands {
  font-size: 2rem;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.social__mediaIcons .fa-brands:hover {
  color: var(--secondary-bg-color);
}
.contact a {
  padding: 0.5rem 1.8rem;
  background-color: unset;
  border: 1px solid var(--secondary-bg-color);
  font-family: var(--font);
  font-size: 0.9rem;
  color: #a3a3a3;
}

.image img {
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.image img:hover {
  transform: scale(
    1.05
  ); /* Aumenta el tamaño de la imagen al pasar el cursor */
}

.card {
  border-radius: 15px;
}

.project__card img {
  border-radius: 15px;
}

/* ------- ADICIONAL - AJUSTES -------- */

/* Contenedor del logo */
.logo-container {
  display: inline-block;
  padding-left: 10px;
  height: 80px; /* Altura fija */
  display: flex;
  align-items: center;
}

/* Estilo general del logo */
.logo {
  font-size: 2.8rem; /* Tamaño para escritorio */
  font-family: var(--font);
  color: var(--font-color);
  font-weight: 700; /* Peso de la fuente */
  text-decoration: none;
  transition: transform 0.4s ease-in-out;
}

@media (max-width: 798px) {
  .logo {
    font-size: 2.4rem; /* Tamaño para móviles */
    font-weight: 1000 !important; /* Peso de la fuente sea consistente */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Sombra de texto */
    font-weight: bold;
    padding-top: 15px;
    margin-left: -0.6rem;
    font-family: var(--font);
  }
}

.logo:hover {
  transform: scale(1.1);
}

/* Estilo del span interno */
.logo span {
  background: linear-gradient(220deg, #2466c2 10%, #0a46b6 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  line-height: normal; /* line-height normal */
}

/* Añadir estilos para asegurar que el navbar tenga suficiente altura */
.navbar {
  min-height: 70px;
}

:root {
  --modal-display: none; /* Añadir esta línea en esta cofiguración */
}

* Efecto de animación */ .rotate-scale-down {
  animation: rotate-scale-down 0.4s linear both;
}

@keyframes rotate-scale-down {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

/* Modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
  display: flex; /* Usar flexbox para centrar */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 70%; /* Ajustar el tamaño máximo para pantallas pequeñas */
  max-height: 70%; /* Ajustar la altura máxima para pantallas pequeñas */
  border: 5px solid #00bfff; /* Agregar borde con el color deseado */
  border-radius: 8px; /* Opcional: añadir bordes redondeados */
}
.close {
  position: absolute;
  top: 20px; /* Ajusta según lo necesites*/
  right: 20px; /* Usa un valor más pequeño para mantenerla visible */
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1001;
}
@media (max-width: 768px) {
  .close {
    right: 50px; /* Ajustar para pantallas más pequeñas */
    top: 235px; /* Ajustar para pantallas más pequeñas */
  }
}

.shake-horizontal:hover {
  animation: shake-horizontal 0.8s linear both;
}

/* Aplicar el efecto solo al pasar el cursor - Pagina Animatic */
.shake-vertical:hover {
  animation: shake-vertical 0.8s linear both;
}

.rotate-scale-up-vertical {
  animation: rotate-scale-up-vertical 0.4s linear both;
}

@keyframes rotate-scale-up-vertical {
  0% {
    transform: scale(1) rotateY(0);
  }
  50% {
    transform: scale(2) rotateY(180deg);
  }
  100% {
    transform: scale(1) rotateY(360deg);
  }
}
/* Configuración del boton de Whatsapp y tooltip independiente */
/* Contenedor y botón de WhatsApp */
.tooltip-container-wsp {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: flex;
  align-items: center;
  z-index: 101 !important;
}

/* Estilo del botón de WhatsApp */
.btn-wsp {
  width: 60px;
  height: 60px;
  line-height: 63px;
  background: #25d366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.btn-wsp i {
  color: #fff; /* etiqueta i blanco */
}

.btn-wsp:hover {
  background: #1f51b1;
  animation: shake 0.4s ease-in-out forwards;
}

/* Tooltip de WhatsApp */
.tooltip-wsp {
  position: absolute;
  left: -310%; /* Posiciona el tooltip al lado izquierdo */
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente el tooltip */
  background-color: #25d366; /* Fondo verde de WhatsApp */
  color: #fff;
  padding: 0.3em 0.6em;
  border-radius: 5px;
  width: 160px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  font-size: 14px;
  white-space: nowrap;
}

/* Flecha del tooltip de WhatsApp */
.tooltip-wsp::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  top: 50%;
  right: -4px;
  transform: translateY(-50%) rotate(45deg);
  background: #25d366;
}

/* Mostrar tooltip al hacer hover */
.tooltip-container-wsp:hover .tooltip-wsp {
  opacity: 1;
  visibility: visible;
}

/* Animación de sacudida para el botón */
@keyframes shake {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  70% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Vista responsive para el botón de WhatsApp */
@media only screen and (max-width: 40px) {
  .tooltip-container-wsp {
    bottom: 90px;
    right: 20px;
  }

  .btn-wsp {
    width: 50px;
    height: 50px;
    line-height: 53px;
    font-size: 25px;
  }

  .tooltip-wsp {
    font-size: 12px;
    width: 100px;
    left: -120%;
  }
}

.portfolio__title p {
  font-size: 1rem !important; /* Aumenta el tamaño del texto */
  line-height: 1.8rem !important; /* Ajusta la altura de línea */
}

.about__me {
  padding-top: 0; /* Ajustar el padding superior si es necesario */
  margin-top: -4rem; /* Ajustar este valor según el espacio que quieras reducir */
}

.shake-horizontal {
  transition: text-shadow 0.3s ease; /* Suavizar el efecto */
}
/* Azul claro neón Ronald Urbano Chavez*/
.shake-horizontal:hover {
  color: #00bfff; /* Azul claro neón */
  text-shadow: 0 0 2px rgba(0, 191, 255, 0.4),
    /* Sombra cercana con menos opacidad */ 0 0 4px rgba(0, 191, 255, 0.2),
    /* Sombra difusa más suave */ 1px 1px 5px rgba(0, 191, 255, 0.1),
    /* Sombras laterales aún más sutiles */ -1px -1px 5px rgba(0, 191, 255, 0.1),
    1px -1px 5px rgba(0, 191, 255, 0.1), -1px 1px 5px rgba(0, 191, 255, 0.1);
  cursor: pointer;
}
/* Azul claro neón boton Escribeme footer*/
.contact a:hover {
  background-color: #00bfff; /* Azul claro neón */
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Sombra neón */
  color: white; /* Cambiar el color del texto */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Suavizar el efecto */
  cursor: pointer;
}
/* Link Cibertec y efecto*/
.neon-text a {
  color: #00bfff; /* Color del texto */
  text-decoration: none; /* Quitar subrayado */
  transition: all 0.3s ease; /* Transición suave para el hover */
}

.neon-text a:hover {
  text-shadow: 0 0 10px rgba(0, 191, 255, 1); /* Sombra adicional al pasar el mouse */
  transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

.theme-toggle {
  cursor: pointer;
  display: flex;
  align-items: center; /* Alinear verticalmente los íconos */
  margin-left: 10px; /* Espaciado */
  font-size: 1.6rem; /* Tamaño de los íconos */
  z-index: 1; /* Asegurar de que esté en la parte superior */
}

.header__info {
  display: flex;
  align-items: center; /* Alinear verticalmente los elementos */
}

.hamburger__lines {
  margin-right: 50px; /* Espacio entre el menú hamburguesa y el toggle */
}

/* Ajustar iconos para la alineación */
.theme-toggle {
  margin-left: 5px; /* Ajustar el espaciado entre el menú hamburguesa y el toggle */
  display: flex; /* Asegurar que los íconos se alineen correctamente */
  align-items: center; /* Alinear los íconos verticalmente */
  padding-top: 14px; /* Ajustar el padding superior para bajar el ícono para esta configuración*/
}

/* Para dispositivos móviles */
@media screen and (max-width: 992px) {
  .header__info {
    margin-left: auto; /* Empuja el contenido a la derecha aqui necesita */
  }
}

/* Asegurar de que el botón "Contáctame" y el toggle de tema estén dentro de .header__info */
.header__info .theme-toggle {
  cursor: pointer;
  display: flex;
  align-items: center; /* Alineación vertical */
  margin-left: 10px; /* Espaciado entre el botón y los íconos */
  font-size: 1.5rem; /* Tamaño de los íconos */
  z-index: 1; /* Asegurarse de que esté en la parte superior */
}

/* Alinear elementos dentro de header__info */
.header__info .hireMe__button {
  display: flex;
  align-items: center; /* Alineación vertical */
  margin-right: 0px; /* Espacio entre el botón y el toggle */
  padding: 30px; /* Ajustar el padding según sea necesario */
}

.hireMe__button {
  margin-top: 20px; /* Ajustar la cantidad */
}

/* Para dispositivos móviles */
@media screen and (max-width: 992px) {
  #theme-toggle-desktop {
    display: none; /* Ocultar ícono de escritorio */
  }
}

/* Para escritorio */
@media screen and (min-width: 993px) {
  #theme-toggle {
    display: none; /* Ocultar ícono de móvil */
  }
}

/* Estilo del contenedor del tooltip y botón de café */
.tooltip-container {
  position: fixed;
  bottom: 100px; /* Ajusta la posición vertical */
  right: 25px; /* Alinea con el botón de WhatsApp si es necesario */
  display: flex;
  align-items: center;
  z-index: 101;
}

/* Tooltip estilo */
.tooltip {
  position: absolute;
  left: -140%; /* Posiciona el tooltip a la izquierda */
  transform: translateX(-50%);
  background-color: #007bff; /* Fondo azul claro */
  color: #fff; /* Texto blanco */
  padding: 0.3em 0.6em;
  border-radius: 5px;
  width: 135px; /* Ajustar el ancho */
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  font-size: 14px;
  white-space: nowrap;
}

/* Flecha del tooltip */
.tooltip::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  top: 50%;
  right: -4px; /* Apunta hacia el botón lado izquierdo */
  transform: translateY(-50%) rotate(45deg);
  background: #007bff;
}

/* Muestra el tooltip al pasar el cursor */
.tooltip-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

/* Estilo del botón de café link intercambiable */
.btn-coffee {
  width: 60px;
  height: 60px;
  line-height: 63px;
  background: #ff6b1c; /* Fondo anaranjado luminoso */
  color: #fff; /* Icono blanco */
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 101;
  transition: all 0.3s ease;
}

.btn-coffee:hover {
  background: #d87e3b;
  animation: shake 500ms ease-in-out forwards;
}

/* Vista responsive */
@media only screen and (max-width: 768px) {
  .btn-cafe {
    width: 50px;
    height: 50px;
    line-height: 53px;
    font-size: 24px;
    bottom: 90px; /* Ajustar para vista móvil */
    right: 20px;
  }
}
/* Animación de sacudida */
@keyframes shake {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  70% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Ajustes para dispositivos móviles */
@media only screen and (max-width: 40px) {
  .tooltip-container {
    bottom: 90px; /* Ajustar la posición en móviles */
  }

  .tooltip {
    font-size: 12px;
    width: 130px; /* Ajustar adicional para el texto en móviles */
    left: -120%; /* Ajustar posición del tooltip */
  }

  .btn-coffee {
    width: 50px;
    height: 50px;
    line-height: 53px;
    font-size: 25px; /* Ajustar el tamaño del icono en móviles */
  }
}

.service__logo .fa-wordpress {
  color: #fff;
}
/* Fin de Configuraciones 02-11-2024 con futuras mejoras - formato de documento con pretier */

.right__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  overflow: visible;
  padding-right: 25%;
}

.right__content::before {
  content: "";
  position: absolute;
  width: 115%;
  height: 115%;
  background: radial-gradient(
    circle at center,
    rgba(0, 123, 255, 0.15) 40%,
    /* Cambiado a #007bff (0, 123, 255) */ rgba(0, 123, 255, 0.08) 60%,
    /* Cambiado a #007bff (0, 123, 255) */ rgba(0, 123, 255, 0.02) 80%,
    /* Cambiado a #007bff (0, 123, 255) */ transparent 100%
  );
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 62%;
  filter: blur(15px);
  z-index: 0;
}

.right__content img {
  position: relative;
  z-index: 0;
  border-radius: 50%;
  width: 110%;
  height: auto;
  aspect-ratio: 1/1;
  margin-right: -25%;
}

/* Ajustes responsivos manteniendo la proporción */
/* Ajustes para pantallas grandes */

@media (max-width: 1200px) {
  .right__content {
    max-width: 400px;
    padding-right: 20%;
  }
  .right__content::before {
    width: 110%;
    height: 110%;
    left: 60%;
  }
  .right__content img {
    width: 105%;
  }
}

/* Ajustes para pantallas medianas */
@media (max-width: 768px) {
  .right__content {
    max-width: 350px;
    padding-right: 15%;
  }
  .right__content::before {
    width: 105%;
    height: 105%;
    left: 55%;
  }
  .right__content img {
    width: 100%;
    margin-right: -10%;
  }
}

/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .right__content {
    max-width: 300px;
    padding-right: 10%;
  }
  .right__content::before {
    width: 100%;
    height: 100%;
    left: 50%;
  }
  .right__content img {
    width: 95%;
    margin-right: -20%;
  }
}

/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .right__content {
    max-width: 300px;
    padding-right: 10%;
  }
  .right__content::before {
    width: 100%;
    height: 100%;
    left: 50%;
  }
  .right__content img {
    width: 95%;
    margin-right: -5%;
  }
}

/* Fin de Configuraciones 07-11-2024 con futuras mejoras - formato de documento con pretier */

b {
  font-weight: bold !important;
  color: inherit; /* Mantener el color del texto */
}

/* Estilos específicos para móviles */
@media (max-width: 768px) {
  .service-description b {
    font-weight: bold !important; /* Asegurar que la negrita se aplique en móviles */
    color: inherit;
    font-size: 1em; /* Ajuste de tamaño en móviles */
  }
}

/* Estilos específicos para móviles */
@media (max-width: 400px) {
  .service-description b {
    font-weight: bold !important; /* Asegurar que la negrita se aplique en móviles */
    color: inherit;
    font-size: 1em; /* Ajuste de tamaño en móviles */
  }
}

.typing-text::after {
  content: " |";
  font-weight: bold !important;
  animation: blink 0.6s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Configuraciones de accesibilidad */

.visually-hidden {
  display: none; /* Oculta el texto visualmente */
}

/* Asegúrate de que el texto gris tenga un contraste adecuado */
.text-gray-500 {
  color: #e5e7eb; /* Color gris */
}

/* Estilo para enlaces */
.neon-text a {
  color: #3b82f6; /* Color azul para el enlace */
  text-decoration: none;
}
